.list {
    
    &__icons{
        margin: 20px auto;
        width: 100%;
    }

    &__icon{
        margin: 0 auto 40px;
        border-radius: 20px;
        width: 1050px;
        height: 250px;
        color: #fff;
        font-family: Montserrat;
        padding: 30px 60px;
    }
    &__title{
        font-weight: 700;
        font-size: 38px;
    }
    &__text{
        font-size: 18px;
        font-weight: 400;
    }
    &__container{
        padding: 0 50px;
    }
}